.header {
    display: flex;
    margin: 0;
    padding: 28px 48px 0 48px;
}

@media screen and (max-width: 900px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px;
    }
}