.places__container {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 80px;  
}

@media screen and (max-width: 900px) {
    .places__container {
        row-gap: 73px;
    }
}

@media screen and (max-width: 500px) {
    .places__container {
        row-gap: 50px;
    }
}