.baikal-dog__subtitle {
    width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    margin: 32px auto 0;
    z-index: 5;
}

@media screen and (max-width: 500px) {
    .baikal-dog__subtitle{
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}