@import url(../vendor/normalize.css);

@import url(../fonts/Inter/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__language/header__language.css);
@import url(../blocks/header/__languages/header__languages.css);
@import url(../blocks/header/__russia-logo/header__russia-logo.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle.css/lead__subtitle.css);

@import url(../blocks/route-layout/route-layout.css);
@import url(../blocks/route-layout/__container/route-layout__container.css);
@import url(../blocks/route-layout/__image/route-layout__image.css);
@import url(../blocks/route-layout/__postscript/route-layout__postscript.css);

@import url(../blocks/statictics/statistics.css);
@import url(../blocks/statictics/__container/statistics__container.css);
@import url(../blocks/statictics/__title/statistics__title.css);
@import url(../blocks/statictics/__text/statistics__text.css);
@import url(../blocks/statictics/__list/statistics__list.css);
@import url(../blocks/statictics/__digits/statistics__digits.css);
@import url(../blocks/statictics/__digits/_font-weight/statistics__digits_font-weight_low.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gallery__image.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__container/places__container.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__links/place__links.css);
@import url(../blocks/place/__url/place__url.css);
@import url(../blocks/place/__link-text/place__link-text.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__image/place__image.css);

@import url(../blocks/baikal-dog/baikal-dog.css);
@import url(../blocks/baikal-dog/__background-image/baikal-dog__background-image.css);
@import url(../blocks/baikal-dog/__link/baikal-dog__link.css);
@import url(../blocks/baikal-dog/__text/baikal-dog__text.css);
@import url(../blocks/baikal-dog/__title/baikal-dog__title.css);
@import url(../blocks/baikal-dog/__subtitle/baikal-dog__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__link-text/footer__link-text.css);
@import url(../blocks/footer/__author/footer__author.css);

@import url(../blocks/underline/underline.css);
@import url();

























/*
.page {
    background-color: #2A2C2F;
}

.header {
    display: flex;
    margin: 0;
    padding: 28px 48px 0 48px;
}

.header__russia-logo {
    width: 176px;
    height: 52px;
}

.header__languages {
    display: flex;
    margin-left: auto;
}

.header__language {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    margin-right: 18px;
    align-self: flex-end;
}

.underline {
    text-decoration: underline;
}

.lead {
    margin: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
}

.lead__title {
    margin: 0;
    margin-top: 136px;
    width: 720px;
    color: #ffffff;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    margin: 0;
    margin-top: 32px;
    width: 640px;
    color: #ffffff;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.route-layout {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
}

.route-layout__container {
    width: 100%;
    max-width: 984px;
    margin: 0;
}

.route-layout__image {
    width: 100%;
}

.route-layuot__postscript {
    text-align: left;
    margin: 0;
    margin-top: 8px;
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.statistics {
    margin-top: 92px;
    padding: 0 48px;
}

.statistics__container {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    align-content: center;
}

.statistics__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #ffffff;
}

.statistics__text {
    max-width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #ffffff;
    margin: 0;
    margin-top: 40px;
}

.statistics__digits {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
    margin-top: 33px;
}

.statistics__digits_font-weight_low {
    font-weight: 200;
}

.gallery {
    margin-top: 92px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 0 48px;
} 

.gallery__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places {
    margin-top: 92px;
    padding: 0 48px;
}

.places__container {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 80px;  
}

.place {
    display: grid;
    grid-template-columns: minmax(200px, 460px) minmax(200px, 484px);
    row-gap: 48px;
    column-gap: 40px;
}

.place__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

.place__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
}

.place__links {
    align-self: end;
}

.place__url {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
    margin-bottom: 12px;
}

.place__link-text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #ffffff;
}

.place__link-text:hover {
    opacity: 0.7;
}

.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #ffffff;
    margin: 0;
    margin-bottom: 26px;
}

.place__text .place__paragraph:last-child {
    margin-bottom: 0;
}

.baikal-dog {
    position: relative;
    margin-top: 92px;
    display: flex;
    padding: 0 48px;
}

.baikal-dog__link:hover .baikal-dog__background-image {
    opacity: 0.3;
}

.baikal-dog__background-image {
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    opacity: 0.7;
}

.baikal-dog__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.baikal-dog__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 32px;
}

.baikal-dog__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
}

.footer {
    display: flex;
    margin-top: 92px;
    padding-bottom: 24px;
    padding: 0 48px;
}

.footer__link-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
    margin-right: 18px;
}

.footer__link-text:hover {
    opacity: 0.7;
}

.footer__author {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 1100px){
    .baikal-dog {
        padding: 0;
    }

    .lead {
        margin-top: 48px;
    }

    .route-layout {
        margin-top: 56px;
    }

    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 900px){
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }

    .lead {
        padding: 0 24px;  
    }

    .route-layout {
        padding: 0;
    }

    .route-layuot__postscript {
        margin-left: 24px;
    }
    
    .statistics {
        padding: 0 24px;
        margin-top: 88px;
    }

    .gallery {
        padding: 0 24px;
        margin-top: 88px;
    }

    .places {
        padding: 0 24px;
        margin-top: 88px;
    }

    .places__container {
        row-gap: 73px;
    }

    .place {
        column-gap: 28px;
    }

    .baikal-dog {
        margin-top: 90px;
    }

    .footer {
        padding: 0 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 500px){
    .header {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px;
    }

    .header__russia-logo {
        width: 142px;
        height: 42px;
    }

    .header__language {
        font-size: 18px;
        line-height: 20px;
    }

    .lead {
        padding: 0 16px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
    }

    .route-layout {
        margin-top: 40px;
    }

    .route-layuot__postscript {
        margin-left: 16px;
    }

    .statistics {
        padding: 0 16px;
        margin-top: 64px;
    }

    .statistics__title {
        font-size: 32px;
        line-height: 35px;
    }

    .gallery {
        padding: 0 16px;
        gap: 12px;
        margin-top: 64px;
    }

    .places {
        padding: 0 16px;
        margin-top: 64px;
    }

    .places__container {
        row-gap: 50px;
    }

    .place {
        grid-template-columns: minmax(100px, 500px);
        row-gap: 32px;
    }

    .place__title {
        margin: 0;
        font-size: 32px;
        line-height: 35px;
        color: #ffffff;
    }

    .baikal-dog {
        margin-top: 64px;
    }

    .baikal-dog__title {
        font-size: 32px;
        line-height: 35px;
    }

    .baikal-dog__subtitle{
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        padding: 0 16px 24px;
        margin-top: 64px;
        flex-direction: column;
    }
    
    .footer__link-text {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 32px;
    }
    
    .footer__link-text:last-child {
        margin-bottom: 48px;
    }

    .footer__author {
        line-height: 14px;
        margin: 0;
    }
}
*/