.lead {
    margin: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
}

@media screen and (max-width: 1100px) {
    .lead {
        margin-top: 48px;
    }
}

@media screen and (max-width: 900px) {
    .lead {
        padding-right: 0;
        padding-left: 0;
    }
}